:root
  // fonts 
  --font-family: 'Arial'
  --secondary-font-family: 'Inter'
  // colors

  --black-color: #000
  --white-color: #fff

  // offsets
  --container-offset: 60px 

  --header-offset: 150px
  --padding: 5px
  --offset: 10px
  --gap: 10px

  //border-radius
  --small-border-radius: 8px
  --border-radius: 15px

  //text
  --title-font-size: 35px
  --font-size: 22px
  --middle-font-size: 16px
  --small-font-size: 12px

button
  cursor: pointer

body
  display: flex
  flex-direction: column
  min-width: 320px
  min-height: 100vh
  font-family: var(--font-family)

a
  &:hover
    filter: contrast(1.6)

.main
  min-height: 100%
  flex: 1 0 auto

.button
  padding: calc(var(--padding) * 3) calc(var(--padding) * 6)
  border: none

.center
  display: flex
  align-items: center
  justify-content: center

.bold
  font-weight: 700
