:root
  // fonts 
  --font-family: 'Arial'
  --secondary-font-family: 'Inter'
  // colors

  // offsets
  --container-offset: 60px 

  --header-offset: 150px
  --padding: 5px
  --offset: 10px
  --gap: 10px

  //border-radius
  --small-border-radius: 8px
  --border-radius: 15px
  --big-border-radius: 40px

  //text
  --font-size: 22px
  --middle-font-size: 16px
  --small-font-size: 12px

button
  cursor: pointer

body
  min-width: 320px
  font-family: var(--font-family)

a
  &:hover
    filter: contrast(1.6)

.button
  padding: 15px 35px
  border: none

.center
  display: flex
  align-items: center
  justify-content: center

.top
  display: flex
  align-items: center
  justify-content: space-between

.bold
  font-weight: 700
