@font-face {
  font-family: "Arial";
  src:
    url("./../fonts/ArialMT.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Arial";
  src:
    url("./../fonts/Arial-BoldMT.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src:
    url("./../fonts/Inter-Light.ttf") format("ttf");
  font-weight: 200;
}